html, body, figure, figcaption, ul, li, h1 {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  text-align: inherit;
}

ul {
  list-style: none;
}

ul:after {
  content: "";
  clear: both;
  display: block;
}

li {
  float: left;
  width: 25px;
  height: 25px;
}

figure {
  display: inline-block;
  border: 1px solid gray;
}

.snake {
  background: green;
}

.apple {
  background: red;
}
